@page "/"
@using Microsoft.AspNetCore.Authorization
@using WebUi.Extensions
@using WebUi.Models
@attribute [Authorize]
@inject AuthenticationStateProvider AuthStateProvider


<h1 data-testid="welcome-message">Welcome, @Name!</h1>

<p>You are on your fantastic <b>HUMAN CAPITAL MANAGEMENT APP</b></p>
<p>Just use a menu to navigate!</p>

@code{
    private string Name { get; set; } = string.Empty;
    private CurrentUser _user = new();
    
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        _user = state.User.ToCurrentUser();
        Name = $"{_user.FirstName} {_user.LastName}";
    }
}