@using Microsoft.AspNetCore.Authorization
@using WebUi.Extensions
@using WebUi.Models
@using WebUi.Components
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]
@page "/auth/info"

<h1>Test page to check auth</h1>

<AuthInfo User="_user" IsAuthenticated="_isAuthenticated" />

@code{
    private CurrentUser _user = new();
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        _user = state.User.ToCurrentUser();
        _isAuthenticated = state.User.Identity?.IsAuthenticated ?? false;
    }
}