@page "/Login"
@using WebUi.Models
@using WebUi.Services
@inject AuthService Auth
@inject NavigationManager Nav

<h3>Login</h3>

<EditForm Model="@_loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="display: flex; flex-direction: column; gap: 10px; max-width: 300px">
        <MudInput @bind-Value="_loginModel.Login"
                  UserAttributes="@(GetAttributeForBlazor("login"))"
                  Placeholder="Login"
                  Class="form-control"/>
        
        <MudInput @bind-Value="_loginModel.Password"
                  UserAttributes="@(GetAttributeForBlazor("pass"))"
                  Placeholder="Password"
                  InputType="InputType.Password"
                  Class="form-control"/>
        
        <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit"
                   UserAttributes="@(GetAttributeForBlazor("login-btn"))">Login</MudButton>
    </div>
    
</EditForm>

@code {
    private readonly LoginRequest _loginModel = new();

    private async Task HandleLogin()
    {
        var success = await Auth.LoginAsync(_loginModel);
        if (success)
        {
            Nav.NavigateTo("/");
        }
    }
}